:root {
  font-family: 'Roboto', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  color-scheme: light dark;
  color: rgba(38, 70, 83);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  color: white;
}

.service {
  border: 1pt rgb(0, 0, 0) solid;
}

nav {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: smaller;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(42, 157, 144, 0.698);

  align-items: center;
  color: black;
  cursor: pointer;
  padding: 0.35em;
}

#initialslogo {
  width: 5%;
}

.is-sticky {
  position: sticky;
  top: 0;
}

#about-container {
  background-color: rgb(233, 196, 106);
  color: rgba(0, 0, 0, 0.87);
  padding: 5em;
  border-radius: 3%;
}

.about-content {
  width: 75%;
  display: flex;
  flex-direction: row;
  gap: 4em;
}

#prettyshelley {
  width: 500%;
  border: 4pt white solid;

}

#prettyshelley:hover {
  width: 500%;
  border: 4pt white solid;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transform: scale(1.1);
}

#about-header {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 30px;
  margin-right: 10em;
}

#home-container {
  padding: 10em;
  background-image: -webkit-image-set();
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
  background: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

#home-logo {
  padding-top: 5em;
  width: 35%;
}

#links-container {
  padding-top: 5em;

  color: #ffffff;
  gap: 5em;
}

#sign-up-home {
  border: #ffffff solid 2px;
  padding: 6px;
  background-color: rgba(38, 70, 83, 0.876);
  border-radius: 5%;
}

#log-in-home {
  border: #ffffff solid 2px;
  padding: 6px;
  background-color: rgba(38, 70, 83, 0.876);
  border-radius: 5%;
}

#home-message {
  border: 2pt solid orangered;
  width: 50%;
  background-color: rgba(255, 166, 0, 0.472);
}

#service-container {
  width: 30%;
}

#service-form {
  padding: 2rem;
  background-color: rgba(38, 70, 83);
  color: #ffffff;
  margin: 20px;
  border-radius: 3%;
  box-shadow: 0 0 2em hsl(231deg 62% 75%);
}

#service-form-inputs {
  display: flex;
  flex-direction: column;
}

#testimonial1 {
  width: 100%;
  border: 4pt white solid;
}

#testimonial1:hover {
  border: 4pt white solid;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transform: scale(1.1);
}

#testimonials-header {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 30px;
  margin-right: 10em;
}

#testimonials-header {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bolder;
  font-size: 30px;
  margin-right: 10em;
}

#testimonials-container {
  background-color: rgb(233, 196, 106);
  color: rgba(0, 0, 0, 0.87);
  padding: 5em;
  border-radius: 3%;
}

.testimonials-content {
  width: 75%;
  display: flex;
  flex-direction: row;
  gap: 4em;
}

#footer-container {
  border-top: 2pt white solid;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: column;
  justify-content: center;
  justify-content: space-between;
  gap: 2rem;
}

#footer-logo {
  width: 45%
}

.ContactForm-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  border: #242424 solid 1pt;
  padding: 0.5rem;
  max-width: 14rem;
}

.ContactForm {
  background-color: #242424;
  border: 2pt white solid;
  text-align: center;
  padding: 2rem;
  max-width: 14rem;
}

#form-textarea-control-opinion {
  max-width: 12rem;
  min-width: 12rem;
  min-height: 8rem;
  max-height: 14rem;
}

#back-to-top {
  color: rgba(38, 70, 83);
}