@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  font-family: 'Roboto', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  color-scheme: light dark;
  color: rgba(38, 70, 83);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  color: white;
}

nav {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: smaller;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(42, 157, 144, 0.698);
  align-items: center;
  color: black;
  cursor: pointer;
  padding: 0.35em;
}

#initialslogo {
  width: 5%;
}

.is-sticky {
  position: sticky;
  top: 0;
}

#about-container {
  background-color: rgb(233, 196, 106);
  color: rgba(0, 0, 0, 0.87);
  padding: 5em;
  border-radius: 3%;
}

.about-content {
  width: 75%;
  display: flex;
  flex-direction: row;
  gap: 4em;
}

#prettyshelley {
  width: 500%;
  border: 4pt white solid;
}

#prettyshelley:hover {
  width: 500%;
  border: 4pt white solid;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transform: scale(1.1);
}

#about-header {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 30px;
  margin-right: 10em;
}

#home-container {
  padding: 10em;
  background-image: -webkit-image-set();
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
  background: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

#home-logo {
  padding-top: 5em;
  width: 35%;
}

#links-container {
  padding-top: 5em;
  color: #ffffff;
  gap: 5em;
}

#sign-up-home {
  border: #ffffff solid 2px;
  padding: 6px;
  background-color: rgba(38, 70, 83, 0.876);
  border-radius: 5%;
}

#log-in-home {
  border: #ffffff solid 2px;
  padding: 6px;
  background-color: rgba(38, 70, 83, 0.876);
  border-radius: 5%;
}

#home-message {
  border: 2pt solid orangered;
  width: 50%;
  background-color: rgba(255, 166, 0, 0.472);
}

#service-container {
  width: 30%;
}

#service-form {
  background-color: rgba(38, 70, 83);
  padding: 3em;
}

#bundle-main {
  background-color: rgba(38, 70, 83);
  color: white;
  padding-right: 5em;
  padding-bottom: 4em;
}

/* ****************** TESTIMONIALS ************** */

#testimonials-header {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 30px;
}

.testimonial {
  color: rgb(112, 109, 109);
  background-color: rgb(233, 196, 106);
  padding: 2rem;
}

.parallax1 {
  min-height: 12rem;
  background-image: url('./assets/images/testimonial4.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  min-height: 12rem;
  background-image: url('./assets/images/testimonial4.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-root {
  width: 64%;
  margin: auto;
  padding: 2rem;
}

.carousel .slide {
  background: #fff;
  color: black;
  height: 100%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;

  max-height: 600px;
  min-height: 286px;
  max-width: 500px;
  min-width: 300px;
}

.carousel .control-dots {
  padding-left: 5px;
  outline: 0;
  /* bottom: 5%; */
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100;
  line-height: 29px;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: '“';
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: '”';
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none;
  background: #454545;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000;
  height: 50px;
  position: absolute;
  top: 35%;
}

/* ****************** FOOTER ************** */

#footer-container {
  border-top: 2pt white solid;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: column;
  justify-content: center;
  justify-content: space-between;
  gap: 2rem;
}

#footer-logo {
  width: 15em;
}

#footer-logo-container {
  width: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 0.5rem;
}

.socials {
  width: 3em;
}

#contact-shelley {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: medium;
  font-weight: 600;
}

#form-input-control-email {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: smaller;
  font-weight: 600;
}

#form-input-control-last-name {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: smaller;
  font-weight: 600;
}

.ContactForm-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 0.5rem;
  max-width: 14rem;
  min-width: 14rem;
}

.ContactForm {
  background-color: #ffffff;
  border: 2pt rgb(0, 0, 0) solid;
  text-align: center;
  padding: 2rem;
  max-width: 14rem;
  max-height: 14rem;
  box-shadow: 0 0 2em rgb(158, 159, 166);
}

#form-textarea-control-opinion {
  max-width: 12rem;
  min-width: 12rem;
  min-height: 4rem;
  max-height: 4rem;
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: smaller;
  font-weight: 600;
}

#back-to-top {
  color: rgba(38, 70, 83);
  font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: medium;
  font-weight: 600;
}
