:root {
  font-family: 'Roboto', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

a {
  color: white;
}

.service {
  border: 1pt white solid;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(42, 157, 143);
  align-items: center;
  color: black;
  cursor: pointer;
  padding: 1.5em;
}

.is-sticky {
  position: sticky;
  top: 0;
}

#home-container {
  padding: 10em;
  background-image: -webkit-image-set();
  background: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  width: 25%;
}
#home-message {
  border: 2pt solid orangered;
  width: 50%;
  background-color: rgba(255, 166, 0, 0.472);
}

.adminDash {
  background-color: grey;
}

#footer-container {
  border-top: 2pt white solid;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: column;
  justify-content: center;
  justify-content: space-between;
  gap: 2rem;
}

.ContactForm-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  border: #242424 solid 1pt;
  padding: 0.5rem;
  max-width: 14rem;
}

.ContactForm {
  background-color: #242424;
  border: 2pt white solid;
  text-align: center;
  padding: 2rem;
  max-width: 14rem;
}

#form-textarea-control-opinion {
  max-width: 12rem;
  min-width: 12rem;
  min-height: 8rem;
  max-height: 14rem;
}
